<!doctype html>
<html>
    <head>
        <title> Create new task </title>
    </head>
    <body>
        <main>
            <div>
                <h1>Create a new task</h1>
                <form method ="post">
                    {% csrf_token %}
                    {{ create_new_task_form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </main>
    </body>
</html>
