<!doctype html>
<html>
    <head>
        <title>Create new list</title>
    </head>
    <body>
        <header>
            <h1> Create new list: </h1>
        </header>
        <main>
            <div>
                <form method = "post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </main>
        <footer></footer>
    </body>
</html>
