<!doctype html>
<html>
    <head>
        <title>details</title>
    </head>
    <body>
        <header>
        </header>
        <main>
            <div>
                <h1> {{details.name}}</h1>
                <a href= "{% url 'todo_list_update' details.id %}">Edit</a>
                <a href= "{% url 'todo_list_delete' details.id %}">Delete list</a>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Tasks</th>
                            <th>Due date</th>
                        </tr>
                    <tbody>
                        {% for task in details.items.all %}
                        <tr>
                            <td> <a href= "{% url 'todo_item_update' task.id %}">{{task.task}}</a></td>
                            <td> {{task.due_date}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
        <footer>
        </footer>
    </body>
</html>
