<!doctype html>
<html>
    <head>
        <title>Edit</title>
    </head>
    <body>
        <header></header>
        <main>
            <div>
                <h1> Update list name </h1>
                <form method = "post">
                    {% csrf_token %}
                        {{ edit_list_name.as_p }}
                    <button>Update</button>
                </form>
            </div>
        </main>
    </body>
</html>
