<!doctype html>
<html>
    <head>
        <title>My to do lists</title>
    </head>
    <body>
        <header>
        </header>
        <main>
            <div>
                <h1> My Lists </h1>
                <h4> <a href="{% url 'todo_list_create' %}">Add new</a></h4>
                <h4> <a href="{% url 'todo_item_create' %}">Create new task</a></h4>
                <table>
                    <thead>
                        <tr>
                            <th> Name </th>
                            <th> Number of Items </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in todo_list %}
                        <tr>
                            <td> <a href="{% url 'todo_list_detail' item.id %}"> {{ item.name }} </a> </td>
                            <td> {{ item.count_items}} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
        <footer>
        </footer>
